@model Tasevski.Web.Models.CartDTO

@if (TempData["Error"] != null)
{
    <div class="alert alert-warning" role="alert">@TempData["Error"]</div>
}

@if (Model != null && Model.CartDetails.Count() > 0)
{
    <form method="post">
        <input asp-for="CartHeader.UserId" hidden />
        <input asp-for="CartHeader.CartHeaderId" hidden />
        <input asp-for="CartHeader.CouponCode" hidden />
        <input asp-for="CartHeader.DiscountTotal" hidden />
        <input asp-for="CartHeader.OrderTotal" hidden />
        <div class="col-md-6 offset-md-3">
            <div>
                <br><br>
                <span style="font-size:25px; font-weight:600;" class="text-info">Внесете ги деталите и продолжете со наплата:</span>
                <br />
            </div>
            <div class="mt-2 bg-dark text-white senka">
                <div class="container row">
                    <div class="col-6  mt-4 bg-dark border-dark">
                        <div class="card-body" style="font-weight:600;">
                            <div class="row">
                                <div class="col-12">
                                    <label class="col-form-label">Име :</label>
                                    <input asp-for=CartHeader.FirstName class="form-control" />
                                </div>
                                <div class="col-12">
                                    <label class="col-form-label">Презиме :</label>
                                    <input asp-for=CartHeader.LastName class="form-control" />
                                </div>
                                <div class="col-12">
                                    <label class="col-form-label">Маил :</label>
                                    <input asp-for=CartHeader.Email class="form-control" />
                                </div>
                                <div class="col-12">
                                    <label class="col-form-label">Телефон :</label>
                                    <input asp-for=CartHeader.PhoneNumber class="form-control" />
                                </div>
                                <div class="col-12">
                                    <label class="col-form-label">Време на подигање</label>
                                    <input asp-for=CartHeader.PickupDateTime class="form-control form_datetime" />
                                </div>
                                <div class="col-12">
                                    <img class="w-25 mt-2" src=~/images/major-credit-card-logos-png-5.png />
                                </div>
                                <div class="col-12 row">
                                    <div class=col-6>
                                        <label class="col-form-label">Број на картичка :</label>
                                        <input asp-for=CartHeader.CardNumber class="form-control creditcard" type="text" />
                                    </div>
                                    <div class=col-3>
                                        <label class="col-form-label">ЦВВ код :</label>
                                        <input asp-for=CartHeader.CVV class="form-control cvv" type="text" />
                                    </div>
                                    <div class=col-3>
                                        <label class="col-form-label">Важност:</label>
                                        <input asp-for=CartHeader.ExpiryMonthYear class="form-control expdate" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-4 bg-dark border-dark">
                        <div class="card mt-4 bg-dark border-dark">
                            <div class="card-body" style="font-weight:600;">
                                <div class=" d-none d-lg-block">
                                    <div class="row text-danger">
                                        <div class="col-6">
                                            Детали за производот
                                        </div>
                                        <div class="col-3 text-center">
                                            Цена
                                        </div>
                                        <div class="col-3 text-center">
                                            Количина
                                        </div>
                                    </div>
                                </div>

                                <hr />

                                @foreach (var cartObj in Model.CartDetails)
                                {
                                    <div class="row h-100">
                                        <div class="col-6">
                                            <span style="font-size:20px">@cartObj.Product.Name</span>
                                        </div>

                                        <div class="col-3 text-center" style="font-size:11px;">
                                            <span style="font-size:17px;">@string.Format("{0:c}", cartObj.Product.Price)</span>
                                        </div>
                                        <div class="col-3 text-center" style="font-size:11px;">
                                            <span style="font-size:17px;">@cartObj.Count</span>
                                        </div>
                                    </div>
                                    <hr />
                                }

                                <div class="row">
                                    <div class="col-12 text-right pr-4 text-success " style="font-size:20px;">
                                        Тотал за нарачка : @string.Format("{0:c}", Model.CartHeader.OrderTotal) <br />
                                        @if (Model.CartHeader.DiscountTotal > 0)
                                        {
                                            <span class="text-warning" style="font-size:16px;"> Попуст за нарачка: @string.Format("{0:c}", Model.CartHeader.DiscountTotal)</span>
                                        }
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer">
                                <div class="row">

                                    <div class="col-12 d-grid gap-2">
                                        <button type="submit" class="btn btn-success ">
                                            <span>Нарачајте</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </form>
}


@section Scripts{
<script type="text/javascript">
    $(document).ready(function() {
        $(".form_datetime").datetimepicker({format: 'dd-mm-yyyy hh:ii'});
        $(".form_datetime").datetimepicker('setStartDate', new Date());

    });

    $(".creditcard").inputmask({
      mask: "9999 9999 9999 9999",
      placeholder: ""
    });

    $(".cvv").inputmask({
      mask: "999",
      placeholder: ""
    });

    $(".expdate").inputmask({
      mask: "99/99",
      placeholder: "12/22"
    });


</script>
}