@model ProductDTO

<form method="post">
    <input asp-for="ProductId" hidden />
    <div class="mt-5">
        <div class="card col-md-6 offset-md-3 senka bg-dark" >
            <div class="card-header text-light row" style="border-radius:5px;">
                <div class="col-12 col-md-6 pt-2">
                    <h2 class="text-white">@Model.Name</h2>
                </div>
                <div class="col-12 col-md-6 text-end pt-2">
                    <h1 class="text-warning">@string.Format("{0:c}", Model.Price)</h1>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-4 p-1 text-center">
                            <img src="@Model.ImageUrl" style="border-radius: 35px; width: 100%;" class="rounded" />
                        </div>
                        <div class="col-12 col-lg-8">
                            <div class="row pl-3">
                                <div class="col-12">
                                    <span class="badge badge-primary text-success p-3 border">@Model.CategoryName</span>
                                    <h3 class="text-success"></h3>

                                    <p class="text-secondary">@Html.Raw(Model.Description) </p>
                                </div>
                            </div>
                            <div class="row col-3 p-2">
                                <input asp-for="Count" class="bg-dark text-warning text-center" />
                                <span asp-validation-for="Count" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-transparent row">
                <div class="col-12 col-md-6">
                    <a asp-action="Index" asp-controller="Home" class="btn btn-success d-grid form-control" >Врати се назад</a>
                </div>
                <div class="col-12 col-md-6 ">
                    <button type="submit" class="btn btn-primary d-grid form-control">Додади во кошничка</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{ 
    <partial name="_ValidationScriptsPartial" />
}