@model IEnumerable<Tasevski.Web.Models.ProductDTO>

<br />
<br />
<div class="container border p-4 bg-dark senka ">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Листа на производи</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="ProductCreate" class="btn btn-success btn-sm mt-2"> Креирај нов производ</a>
        </div>
    </div>
    <table id="example" class="table table-striped tabela table-dark" style="width:100%">
        <thead>
            <tr>
                <th>Име</th>
                <th>Категорија</th>
                <th>Опис</th>
                <th>На промоција</th>
                <th>Цена</th>
                <th class="text-center">Опции</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.CategoryName</td>
                    <td>@item.Description</td>
                    @if(item.Prikazi != false)
                    {
                        <td class="text-center"><input type="checkbox" class="form-check-input" checked disabled /></td>
                    }
                    else
                    {
                        <td class="text-center"><input type="checkbox" class="form-check-input" disabled /></td>
                    }
                    <td>@((item.Price).ToString("c"))</td>
                    <td class="text-center">
                        <a asp-action="ProductEdit" class="btn btn-success btnNew" asp-route-productId="@item.ProductId"><i class="fas fa-edit"></i></a>
                        <a asp-action="ProductDelete" class="btn btn-danger btnNew" asp-route-productId="@item.ProductId"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{  
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.2/js/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.bootstrap5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.colVis.min.js"></script>
<script type="text/javascript">
               $(document).ready( function () {
                     var table = $('.tabela').DataTable({
                   lengthChange: false,
                   buttons: [ 'copy', 'excel', 'pdf', 'colvis'
                   //{
                   //   extend: 'pdfHtml5',
                   //   orientation: 'landscape',
                   //   pageSize: 'A4', // TABLOID OR LEGAL
                   //   footer: true,
                   // }
                   ]
               });

               table.buttons().container()
                   .appendTo( '#example_wrapper .col-md-6:eq(0)' );
           });
</script>
}